.book {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 0;
}

.book-cover-wrapper {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.book-cover {
    max-width: 100px;
    height: auto;
}

.book-info {
}

.title-author {
    font-size: larger;
}

.summary {
    margin: 10px 0;
}

.genre {
    font-size: small;
}

